<div class="col-3 mx-auto">
  <table class="table table-list">
    <tr>
      <th>商品合計</th>
      <td class="text-right"><%= (order.billing_amount - order.shipping_cost).to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th>送料</th>
      <td class="text-right"><%= order.shipping_cost.to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td class="text-right font-weight-bold"><%= order.billing_amount.to_s(:delimited) %>円</td>
    </tr>
  </table>
</div>