<table class="table table-list">
  <thead>
    <tr>
      <th>商品合計</th>
      <th>送料</th>
      <th>請求金額合計</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="text-right"><%= (order.billing_amount - order.shipping_cost).to_s(:delimited) %>円</td>
      <td class="text-right"><%= order.shipping_cost.to_s(:delimited) %>円</td>
      <td class="text-right font-weight-bold"><%= order.billing_amount.to_s(:delimited) %>円</td>
    </tr>
  </tbody>
</table>