<div class="container p-3">
  <div class="row">

    <div class="col-md-12 text-center mt-5">
      <h4 class="mb-3">エラーが発生しました！</h4>
      <%= link_to "情報入力画面へ戻る", new_order_path, class: "btn btn-dark mx-auto" %>
    </div>
  </div>
</div>