<footer style="background-color: #F5A9A9">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight c 2023 NAGANO CAKE co,.ltd. All Rights Resarved.</p>
      </div>
    </div>
  </div>
</footer>
